@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{

background: linear-gradient( #cacff9,#e3e3e3);
  background-size: 100% 100%;   /*to fit background-image: ; */

  background-attachment: fixed;
  background-position: center;

}